<html xmlns:th="https://thymeleaf.org">


<form action="@{/login}" method="POST">
	<table border="0" bgcolor="cyan" align="center">
	<tr>
		<td> Username::</td>
		<td><input type="text" name="Username"/> </td>
	</tr>
	<tr>
		<td>Password::</td>
		<td><input type="password" name="password"/> </td> 
	</tr>
	<tr>
		<td><input type="submit" name="Login"/> </td>
	</tr>
	</table>
	<span style="color: red;text-align: center" th:if="${param.error}">Authentication Failed</span>
	<span style="color: red;text-align: center" th:if="${param.logout}">User Logout Successfully</span>
	
	<br><br>
	<h1 style="text-align:center"><a href="/oauth2/authorization/facebook">Facebook Login</a></h1>
	<br><br>
	<h1 style="text-align:center"><a href="/oauth2/authorization/Google">Google Login</a></h1>
	
	</form>