<html xmlns="https://thymeleaf.org">
	<th:form action="@{/user/register}" th:object="${userInfo}" method="POST">
		<table border="0" bgcolor="cyon" align="center">
			<tr>
				<td> username::</td>
				<td> <input type="text" th:field="*{uname}"/> </td>
			</tr>
			<tr>
				<td> password::</td>
				<td> <input type="password" th:field="*{pwd}"/> </td>
			</tr>
			<tr>
				<td> email::</td>
				<td> <input type="text" th:field="*{email}"/> </td>
			</tr>
			<tr>
				<td> Roles::</td>
				<td> <input type="checkbox" th:field="*{roles}" value="CLERK"/> CLERK
					<input type="checkbox" th:field="*{roles}" value="MANAGER"/> MANAGER
				</td>
			</tr>
			<tr>
				<td> <input type="submit" th:field="register"/></td>
				<td> <input type="reset" th:field="cancel"/> </td>
			</tr>
	</th:form>